@import "variables";

#left-side-bar-check{
  position: fixed;
  z-index: 100;
  right: 0;
}

#left-side-bar-check[type='checkbox']:checked + .left_side_bar {
  display: block;
}

label[for='left-side-bar-check'] {
  background-image: url('../images/70/b_menu.png');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  width: 40px;
  height: 40px;
  //background-color: $blue;
  display: block;
  position: fixed;
  float: left;
  cursor: pointer;

  @media all and (min-width: 1701px) {
    display: none;
  }

  @media all and (max-width: 1170px){
    right: 0;
  }

  @media all and (max-width: 1020px){
    width: 70px;
    height: 70px;
  }
}

#left-side-bar-check[type='checkbox']:checked ~ label[for='left-side-bar-check']
{
  background-color: transparentize($filling_super_dark, 0.1);
  width: 100%;
  height: 100%;
  z-index: 10;
  background-image: none;
}

.left_side_bar {

  @media all and (max-width: 1700px) {
    display: none;
  }

  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 9999;
  background-color: $filling_gray_light;
  overflow-y: auto;

  .base {
    padding-top: 47px;
    width: 272px;
    background-color: $filling_gray_light;
    min-height: 100%;

    .block {
      display: flex;
      width: 100%;
      flex-direction: column;

      .element {
        border: none;
        border-left: 3px $filling_gray_light solid;
        padding-left: 25px;
        padding-right: 25px;

        &.account_name {
          border-color: $blue;
          font-weight: 600;

          .part {
            font-size: $font_size_20;
            margin-bottom: 5px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        a {
          text-decoration: none;
        }

        a.profile_link {
          display: block;
          text-transform: uppercase;
          padding-bottom: 25px;
          text-align: right;
          font-weight: 600;
          color: $blue;
        }
      }

      &.align_end {
        justify-content: flex-end;
      }
    }
  }
}
