$filling_gray: #f4f4f4;
$filling_gray_2: #f5f5f5;
$filling_gray_light: #f9f9f9;
$filling_gray_dark: #ebebeb;

//colors
$gray: #C2CAD4;
$gray_dark: #7F8FA4;
$blue: #2EA1F8;
$blue_light: #B2D8F5;
$green: #1BB934;
$red: #F05352;
$yellow: #F7981C;
$violet: #917AE4;
$white: #FFFFFF;

//font colors
$font_color_dark: #354052;
$font_color_light: $gray_dark;

//font sizes
$font_size_40: 40px;
$font_size_30: 30px;
$font_size_24: 24px;
$font_size_20: 20px;
$font_size_18: 18px;
$font_size_16: 16px;
$font_size_14: 14px;
$font_size_10: 10px;

//divider colors
$divider_gray: #dfe2e5;