@import "variables";

.menu {
  width: 100%;
  display: block;
  padding-top: 46px;

  .m_element {
    padding: 15px 0;
    cursor: pointer;
    position: relative;

    &.active {
      background-color: $filling_gray_dark;
      font-weight: 600;

      .text {
        color: $font_color_dark;
      }

      .icon {
        @each $n in home, messsage, packet, star, graph {
          &.icon_#{$n} {
            background-image: url('../images/20/#{$n}-active.png');
          }
        }
      }
    }

    &:hover {
      background-color: $filling_gray_dark;
    }

    .icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      vertical-align: middle;
      background-position: center;
      background-size: contain;
      margin-right: 15px;
      float: left;
      background-repeat: no-repeat;

      @each $n in home, message, packet, star, graph, exit {
        &.icon_#{$n} {
          background-image: url('../images/20/#{$n}.png');
        }
      }

    }

    .text {
      display: inline-block;
      vertical-align: middle;
      float: left;
      color: $font_color_light;
      background: none;
      border: 0;
      padding: 0;
      text-align: left;;
    }

    .dropdown_button {
      display: inline-block;
      width: 20px;
      height: 20px;
      vertical-align: middle;
      float: right;
      background-image: url('../images/20/downarrow.png');
      background-repeat: no-repeat;
      background-size: 70%;
      background-position: center;
    }

    .dropdown_menu {
      display: block;
      float: none;
      clear: both;

      .ddm_element {
        display: block;
        padding-top: 10px;
        padding-left: 35px;
        overflow: hidden;

        .text {
          color: $font_color_light;
        }

        &.active {
          font-weight: 600;
          .text {
            color: $font_color_dark;
          }
        }
      }
    }
  }
}
